.model-y-section5 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
}
.model-y-section5 .section-five-left {
    width: 78%;
    height: 100vh;
    display: flex;
}
.model-y-section5 .clip {
    position: relative;
}
.model-y-section5 .clip-video {
    display: flex;
}
.model-y-section5 .clip-video video {
    width: 78vw;
    height: 100vh;
    object-fit: cover;
}
.model-y-section5 .clip-desc {
    width: 75%;
    display: flex;
    position: absolute;
    bottom: 0;
    margin-left: 13%;
    margin-bottom: 80px;
    justify-content: center;
}
.model-y-section5 .clip-desc-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.model-y-section5 .clip-desc-item h2 {
    color: white;
    font-size: 30px;
    font-weight: 300;
}
.model-y-section5 .clip-desc-item p {
    width: 80%;
    color: white;
    font-size: 15px;
}
.model-y-section5 .section-five-right {
    width: 22%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
}
.model-y-section5 .right-side-desc {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.model-y-section5 .right-side-item {
    width: 80%;
}
.model-y-section5 .right-side-item p{
    font-size: 20px;
    font-weight: 100;
    display: flex;
}
.model-y-section5 .right-side-item h2 {
    font-size: 26px;
    display: flex;
    margin-bottom: 25px;
    color: black;
}
.model-y-section5 .right-side-item h4 {
    font-weight: 100;
    display: flex;
    text-align: justify;
}
.model-y-section5 .right-side-btn {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.model-y-section5 .right-side-btn p {
    display: flex;
    border-radius: 40px;
    border: 3px solid black;
    padding: 7px 60px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.model-y-section5 .right-side-btn p:hover {
    background-color: black;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 1199px){
    .model-y-section5 {
        height: 135vh;
        display: flex;
        flex-direction: column;
    }
    .model-y-section5 .clip-video video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    .model-y-section5 .section-five-left {
        width: 100%;
        height: 100vh;
        display: flex;
    }
    .model-y-section5 .section-five-right {
        width: 100%;
    }
    .model-y-section5 .right-side-desc {
        height: 30vh;
    }
    .model-y-section5 .right-side-item {
        margin-top: 20px;
    }
    .model-y-section5 .right-side-btn {
        margin-bottom: 30px;
    }

}
@media (max-width: 972px){
    .model-y-section5 .clip-desc {
        width: 90%;
        margin-left: 5%;
    }
}
@media (max-width: 680px){
    .model-y-section5 .right-side-btn {
        margin-bottom: 30px;
    }
    .model-y-section5 .right-side-item h2 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .model-y-section5 .right-side-item p {
        font-size: 15px;
    }
    .model-y-section5 .right-side-item h4 {
        font-size: 15px;
    }
}
@media (max-width: 599px){
    .model-y-section5 {
        margin-bottom: 60px;
    }
    .model-y-section5 .right-side-btn p{
        width: 100%;
        justify-content: center;
    }
    .model-y-section5 .clip-desc {
        display: none;
    }
}