.spanel-section7 {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
.spanel-section7 .section-seven-img {
    height: 77.5vh;
    background-image: url('../../images/section7image.jpg');
    background-position: center;
    background-size: cover;
}
.spanel-section7 .image-desc {
    position: relative;
    top: 80%;
    display: flex;
    flex-direction: row;
    width: 45%;
    margin: auto;
}
.spanel-section7 .image-desc-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1;
    gap: 0.2rem;
    font-family: 'Rubik', sans-serif;
}
.spanel-section7 .image-desc-items h3 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.1rem;
    color: white;
}
.spanel-section7 .image-desc-items p {
    font-size: 14px;
    color: white;
}

.spanel-section7 .lower-desc {
    display: flex;
    flex-direction: row;
    height: 23.5vh;
    background-color: rgb(255,255,255);
}
.spanel-section7 .lower-container {
    width: 60%;
    height: 70%;
    margin: auto;
}
.spanel-section7 .lower-items {
    display: flex;
}
.spanel-section7 .lower-left {
    width: 40%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    gap: 0.5rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 25px;
}
.spanel-section7 .lower-left h1{
    color:rgb(23,26,32);
    font-weight: 600;
}
.spanel-section7 .lower-right {
    width: 60%;
}
.spanel-section7 .lower-right p {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    display: flex;
    text-align: justify;
}
.spanel-section7 .lower-left-btn {
    display: flex;
    width: 40%;
    align-items: flex-start;
    padding-left: 20px;
}
.spanel-section7 .lower-left-btn p {
    border-radius: 40px;
    border: 3px solid black;
    padding: 10px 60px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.spanel-section7 .lower-left-btn p:hover {
    background-color: black;
    color: white
}

/* RESPONSIVE */
@media (max-width: 1298px){
    .spanel-section7 .lower-container {
        width: 65%;
    }
}
@media (max-width: 1176px){
    .spanel-section7 .lower-container {
        width: 75%;
    }
    .spanel-section7 .image-desc {
        width: 55%;
    }
}
@media (max-width: 995px){
    .spanel-section7 .lower-container {
        width: 85%;
    }
    .spanel-section7 .image-desc {
        width: 70%;
    }
}
@media (max-width: 898px){
    .spanel-section7 {
        height: 110vh;
    }
    .spanel-section7 .lower-desc {
        height: 32.5vh;
    }
    .spanel-section7 .lower-items{
        display: flex;
        flex-direction: column;
    }
    .spanel-section7 .lower-left {
        width: 100%;
    }
    .spanel-section7 .lower-right {
        padding-left: 25px;
        margin-top: -5px;
        display: flex;
        width: 100%;
        margin-bottom: 30px;
    }
    .spanel-section7 .lower-left-btn {
        width: 100%;
    }
}
@media (max-width: 617px){
    .spanel-section7 {
        height: 112vh;
    }
}
@media (max-width: 599px){
    .spanel-section7 .lower-left-btn p{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 568px){
    .spanel-section7 .lower-container {
        width: 90%;
    }
}
@media (max-width: 490px){
    .spanel-section7 .image-desc {
        width: 100%;
    }
    .spanel-section7 .image-desc-items h3{
        font-size: 20px;
    }
}
@media (max-width: 451px){
    .spanel-section7 {
        height: 115vh;
    }
}
@media (max-width: 375px){
    .spanel-section7 {
        height: 125vh;
    }
    .spanel-section7 .lower-left h1 {
        font-size: 30px;
    }
}