.model-x-section10 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
}
.model-x-section10 .section-ten-left {
    width: 78%;
    height: 100vh;
    display: flex;
}
.model-x-section10 .section-ten-left img {
    width: 100%; 
    height: 100vh;
    object-fit: cover;
}
.model-x-section10 .section-ten-right {
    width: 22%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
}
.model-x-section10 .left-side-desc {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.model-x-section10 .left-side-item {
    width: 80%;
}
.model-x-section10 .left-side-item p {
    font-size: 20px;
    font-weight: 100;
    display: flex;
}
.model-x-section10 .left-side-item h2 {
    font-size: 26px;
    display: flex;
    font-weight: 100;
    margin-bottom: 25px;
    color: black;
}
.model-x-section10 .left-side-item h4 {
    font-weight: 100;
    display: flex;
    text-align: justify;
}
.model-x-section10 .left-side-btn {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}
.model-x-section10 .left-side-btn p {
    display: flex;
    border-radius: 40px;
    border: 3px solid black;
    padding: 7px 60px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.model-x-section10 .left-side-btn p:hover {
    background-color: black;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 1199px){
    .model-x-section10 {
        height: 135vh;
        display: flex;
        flex-direction: column;
    }
    .model-x-section10 .section-ten-left img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .model-x-section10 .section-ten-left {
        width: 100%;
        height: 100vh;
        display: flex;
        order: 1;
    }
    .model-x-section10 .section-ten-right {
        width: 100%;
        height: 50vh;
        order: 2;
    }
    .model-x-section10 .left-side-desc {
        height: 30vh;
    }
    .model-x-section10 .left-side-item {
        margin-top: 20px;
    }
    .model-x-section10 .left-side-btn {
        margin-bottom: 30px;
    }

}
@media (max-width: 680px){
    .model-x-section10 .left-side-btn {
        margin-bottom: 30px;
    }
    .model-x-section10 .left-side-item h2 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .model-x-section10 .left-side-item p {
        font-size: 15px;
    }
    .model-x-section10 .left-side-item h4 {
        font-size: 15px;
    }
}
@media (max-width: 599px){
    .model-x-section10 .left-side-btn p{
        width: 100%;
        justify-content: center;
    }
}