.support-container {
    display: flex;
    width: 54%;
    margin:auto;
    margin-top: 100px;
    flex-direction: column;
}
.support-title {
    margin-bottom: 80px;
}
.support-title-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.support-title-items h2 {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.support-title-items ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
}
.horizontal-line {
    margin-top: 40px;
    opacity: 0.3;
}

/* // delivery title // */
.delivery {
    width: 65%;
    display: flex;
    flex-direction: column;
}
.delivery-title {
    display: flex;
    margin-bottom: 50px;
}
.delivery-title h2 {
    font-size: 30px;
    font-weight: 300;
}
.delivery-desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.delivery-desc p {
    display: flex;
    text-align: justify;
    line-height: 25px;
}

.delivery-methods {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 30px;
}
.delivery-methods h4{
    display: flex;
}
.delivery-methods ul {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 20px;
}
.delivery-methods li a{
    display: flex;
}
.delivery-methods a {
    text-decoration: underline;
    cursor: pointer;
}

/* // express deliver // */
.express-delivery {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 30px;
}
.express-delivery h2{
    display: flex;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.express-delivery p {
    display: flex;
    font-style: italic;
    margin-bottom: 10px;
}
.express-delivery iframe {
    margin-bottom: 25px;
}
.express-desc {
    display: flex;
    flex-direction: column;
}
.express-desc-steps {
    display: flex;
    flex-direction: column;
}
.express-desc-steps p {
    display: flex;
    font-style: normal; 
    text-align: start;
    margin-bottom: 25px;
}
.express-desc-steps h4 {
    display: flex;
    font-style: normal; 
    text-align: start;
    margin-bottom: 20px;
}

.express-desc-steps ol {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 1rem;
    margin-bottom: 20px;
}
.express-desc-steps li {
    text-align: left;
}
.express-desc-steps ul {
    list-style: none;
    text-decoration: underline;
}

/* // tesla direct //  */
.tesla-direct {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 30px;
}
.tesla-direct h2{
    display: flex;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.tesla-direct p {
    display: flex;
    font-style: italic;
    margin-bottom: 10px;
}
.tesla-direct video {
    margin-bottom: 25px;
}
.tesla-desc {
    display: flex;
    flex-direction: column;
}
.tesla-desc-steps {
    display: flex;
    flex-direction: column;
}
.tesla-desc-steps p {
    display: flex;
    font-style: normal; 
    text-align: start;
    margin-bottom: 25px;
}
.tesla-desc-steps h4 {
    display: flex;
    font-style: normal; 
    text-align: start;
    margin-bottom: 20px;
}

.tesla-desc-steps ol {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 1rem;
    margin-bottom: 20px;
}
.tesla-desc-steps li {
    text-align: left;
}
.tesla-desc-steps ul {
    list-style: none;
    text-decoration: underline;
}

/* // carrier direct // */
.carrier-direct {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 30px;
}
.carrier-direct h2{
    display: flex;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.carrier-direct p {
    display: flex;
    font-style: italic;
    margin-bottom: 10px;
}
.carrier-direct video {
    margin-bottom: 25px;
}
.carrier-desc {
    display: flex;
    flex-direction: column;
}
.carrier-desc-steps {
    display: flex;
    flex-direction: column;
}
.carrier-desc-steps p {
    display: flex;
    font-style: normal; 
    text-align: start;
    margin-bottom: 25px;
}
.carrier-desc-steps h4 {
    display: flex;
    font-style: normal; 
    text-align: start;
    margin-bottom: 20px;
}

.carrier-desc-steps ol {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 1rem;
    margin-bottom: 20px;
}
.carrier-desc-steps li {
    text-align: left;
}
.carrier-desc-steps ul {
    list-style: none;
    text-decoration: underline;
}

/* // frequently asked questions // */
.faquestions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 140px;
}
.faquestions h2{
    display: flex;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.faquestions h4 {
    display: flex;
}
.faquestions-desc {
    display: flex;
    flex-direction: column;
}
.faquestions-desc-steps {
    display: flex;
    flex-direction: column;
}
.faquestions-desc-steps p {
    display: flex;
    font-style: normal; 
    text-align: start;
    margin-bottom: 25px;
}
.faquestions-desc-steps h4 {
    display: flex;
    font-style: normal; 
    text-align: start;
    margin-bottom: 10px;
}

.faquestions-desc-steps ol {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 1rem;
    margin-bottom: 20px;
}
.faquestions-desc-steps li {
    text-align: left;
}
.faquestions-desc-steps ul {
    list-style: none;
    text-decoration: underline;
}

/* // RESPONSIVE // */
@media (max-width: 1120px){
    .support-container {
        width: 80%;
    }
    .support-title {
        width: 80%;
    }
    .support-title-items {
        width: 100%;
    }
    .express-delivery .iframe, .tesla-direct iframe {
        width: 600px; 
        height: 340px;
    }
}
@media (max-width: 768px){
    .support-title-items ul {
        display: none;
    }
    .support-title{
        margin-bottom: 40px;
    }
    .horizontal-line {
        display: none;
    }
    .express-delivery .iframe, .tesla-direct iframe {
        width: 550px; 
        height: 340px;
    }
    .support-container {
        width: 90%;
    }
    .support-title {
        width: 90%;
    }
    .delivery, .express-delivery, .tesla-direct,.faquestions {
        width: 100%;
    }
    
}
@media (max-width: 608px){
    .express-delivery .iframe, .tesla-direct iframe {
        width: 500px; 
        height: 330px;
    }
}
@media (max-width: 512px){
    .express-delivery .iframe, .tesla-direct iframe {
        width: 370px; 
        height: 300px;
    }
}
@media (max-width: 395px){
    .express-delivery .iframe, .tesla-direct iframe {
        width: 340px; 
        height: 300px;
    }
}